*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}
.main{
    width: 100%;
    height: 100vh;
    background: floralwhite;
    display: flex;
    align-items: center;
    justify-content: center;
}
#clock{
    width: 300px;
    border: none;
    border-radius: 10px;
    height: 100px;
    background: rgb(204, 204, 204);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
